{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="page-wrapper">
    {% for message in messages %}
    <div class="container-fluid p-0">
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true" class="btn-close">X</span>
            </button>
            {{ message }}
        </div>
    </div>
    {% endfor %}
    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="page-title">Attendance Sheet</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-12 col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title d-inline-block">Attendance </h4>
                    </div>
                    <div class="card-block">
                        <div class="table-responsive">
                            <table class="table mb-0 new-patient-table">
                                <thead>
                                    <tr>
                                        <th>Student</th>
                                        <th>Unit</th>
                                        <th>Date</th>
                                        <th>Week</th>
                                        <th>Time Range</th>
                                        <th>Time Attendant</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for data in registerAttendance %}
                                    <tr>
                                        <td>
                                            <span class="user-img">
                                                <img class="rounded-circle"
                                                    src="{{user.student.profile.profile_photo.url}}" width="24"
                                                    alt="Admin">
                                                <span class="status online"></span>
                                            </span>
                                        </td>
                                        <th>{{data.unitAttendent.code}}</th>
                                        <td>{{data.unitAttendent.day}}, {{data.date}}</td>
                                        <td>{{data.unitAttendent.startTime}} - {{data.unitAttendent.endTime}}</td>
                                        <td>{{data.time}}</td>
                                        {% for unit in units_list %}
                                        {% if data.unitAttendent.code == unit.code %}
                                        {% if data.status == 'Present' %}
                                        <td><i class="fa fa-check text-success"></i></td>
                                        {% else %}
                                        <td><i class="fa fa-close text-danger"></i></td>
                                        {% endif %}
                                        {% else %}
                                        <td></td>
                                        {% endif %}
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="sidebar-overlay" data-reff=""></div>
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.slimscroll.js' %}"></script>
<script src="{% static 'js/select2.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
{% endblock content %}