{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="page-wrapper">
    {% for message in messages %}
    <div class="container-fluid p-0">
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true" class="btn-close">X</span>
            </button>
            {{ message }}
        </div>
    </div>
    {% endfor %}
    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="page-title">Attendance Sheet</h4>
            </div>
        </div>
        <!-- <div class="row filter-row">
            <div class="col-sm-6 col-md-3">
                <div class="form-group form-focus">
                    <label class="focus-label">Employee Name</label>
                    <input type="text" class="form-control floating">
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="form-group form-focus select-focus">
                    <label class="focus-label">Select Month</label>
                    <select class="select floating">
                        <option>-</option>
                        <option>Jan</option>
                        <option>Feb</option>
                        <option>Mar</option>
                        <option>Apr</option>
                        <option>May</option>
                        <option>Jun</option>
                        <option>Jul</option>
                        <option>Aug</option>
                        <option>Sep</option>
                        <option>Oct</option>
                        <option>Nov</option>
                        <option>Dec</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="form-group form-focus select-focus">
                    <label class="focus-label">Select Year</label>
                    <select class="select floating">
                        <option>-</option>
                        <option>2017</option>
                        <option>2016</option>
                        <option>2015</option>
                        <option>2014</option>
                        <option>2013</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <a href="#" class="btn btn-success btn-block"> Search </a>
            </div>
        </div> -->
        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table class="table table-striped custom-table mb-0">
                        <thead>
                            <tr>
                                <th>Student</th>
                                <th>Date</th>
                                <th>Time</th>
                                {% for unit in units_list %}
                                <th>{{unit.code}}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in registerAttendance %}
                            <tr>
                                <td>
                                    <span class="user-img">
                                        <img class="rounded-circle" src="{{user.student.profile.profile_photo.url}}"
                                            width="24" alt="Admin">
                                        <span class="status online"></span>
                                    </span>
                                </td>
                                <td>{{data.date}}</td>
                                <td>{{data.time}}</td>
                                {% for unit in units_list %}
                                {% if data.unitAttendent.code == unit.code %}
                                {% if data.status == 'Present' %}
                                <td><i class="fa fa-check text-success"></i></td>
                                {% else %}
                                <td><i class="fa fa-close text-danger"></i></td>
                                {% endif %}
                                {% else %}
                                <td></td>
                                {% endif %}
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="sidebar-overlay" data-reff=""></div>
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.slimscroll.js' %}"></script>
<script src="{% static 'js/select2.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
{% endblock content %}