{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="page-wrapper">
    <div class="chat-main-row">
        <div class="chat-main-wrapper">
            <div class="col-lg-9 message-view chat-view">
                <div class="chat-window">
                    <div class="fixed-header">
                        <div class="navbar">
                            <div class="user-details mr-auto">
                                <div class="float-left user-img m-r-10">
                                    <a href="profile.html" title="Jennifer Robinson"><img src="{{user.student.profile.profile_photo.url}}" alt="" class="w-40 rounded-circle"><span class="status online"></span></a>
                                </div>
                                <div class="user-info float-left">
                                    <a href="profile.html"><span class="font-bold">{{request.user.first_name}} {{request.user.last_name}}</span></a>
                                    <span class="last-seen">{% for data in students %} {{data.firstname}} {% endfor %}</span>
                                </div>
                            </div>
                            <div class="search-box">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" placeholder="Search">
                                    <span class="input-group-append">
                                            <button class="btn" type="button"><i class="fa fa-search"></i></button>
                                        </span>
                                </div>
                            </div>
                            <!-- <ul class="nav custom-menu">
                                <li class="nav-item">
                                    <a href="#chat_sidebar" class="nav-link task-chat profile-rightbar float-right" id="task_chat"><i class="fa fa-user"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="voice-call.html"><i class="fa fa-phone"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="video-call.html"><i class="fa fa-video-camera"></i></a>
                                </li>
                                <li class="nav-item dropdown dropdown-action">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-cog"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="javascript:void(0)">Delete Conversations</a>
                                        <a class="dropdown-item" href="javascript:void(0)">Settings</a>
                                    </div>
                                </li>
                            </ul> -->
                        </div>
                    </div>
                    <div class="chat-contents">
                        <div class="chat-content-wrap">
                            <div class="chat-wrap-inner">
                                <div class="chat-box">
                                    <div class="chats">
                                        {% for data in all_texts %}
                                        {% if data.student == student %}
                                        <div class="chat chat-right">
                                            <div class="chat-body">
                                                <div class="chat-bubble">
                                                    <div class="chat-content">
                                                        <ul class="attach-list">
                                                            <p>{{data.text}}</p>
                                                        </ul>
                                                        <span class="chat-time">{{data.time}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% else %}
                                        <div class="chat chat-left">
                                            <div class="chat-avatar">
                                                <a href="profile.html" class="avatar">
                                                    <img alt="" src="{{user.student.profile.profile_photo.url}}" class="img-fluid rounded-circle">
                                                </a>
                                            </div>
                                            <div class="chat-body">
                                                <div class="chat-bubble">
                                                    <div class="chat-content">
                                                        <ul class="attach-list">
                                                            <p>{{data.text}}</p>
                                                        </ul>
                                                        <span class="chat-time">{{data.time}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="chat-footer">
                        <div class="message-bar">
                            <div class="message-inner">
                                <a class="link attach-icon" href="#" data-toggle="modal" data-target="#drag_files"><img src="assets/img/attachment.png" alt=""></a>
                                <div class="message-ara">
                                    <form action="" method="post">
                                        {% csrf_token %}
                                    <div class="input-group">
                                        <input type="text" name="text" class="form-control" placeholder="Type message..." required>
                                        <span class="input-group-append">
                                            <button class="btn btn-primary" type="submit"><i class="fa fa-send"></i></button>
                                        </span>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="sidebar-overlay" data-reff=""></div>
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.slimscroll.js' %}"></script>
<script src="{% static 'js/select2.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
{% endblock content %}