{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="page-title">Exam Card</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-8 col-lg-8 col-xl-8">
                <div class="card">
                    <div class="card-body">
                        <!-- <div class="chart-title">
                            <h4>Time Table</h4>
                        </div> -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <p style="text-align: center;"><b>OFFICE OF THE REGISTRAR, ACADEMIC AFFAIRS</b></p>
                                    <p style="text-align: center;"><b>P.O.Box 103-40404, Rongo</b></p>
                                    <hr>
                                    <p style="text-align: center;"><b><u>STUDENT EXERMINATION CARD</u></b></p>
                                    <p style="text-align: center;"><b>AUTHORITY TO SIT END OF EXAMINATION</b></p>
                                    <p><b>School:</b>  </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table class="table table-striped custom-table mb-0">
                        Sorry you have not reached minimum requirements for class attendance
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="sidebar-overlay" data-reff=""></div>
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.slimscroll.js' %}"></script>
<script src="{% static 'js/select2.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
{% endblock content %}