{% extends 'main.html' %}
{% load static %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<style>
    #myTable tr.no-border {
        border: none;
    }
</style>
<div class="page-wrapper">
    <div class="content">
        <div class="card-box profile-header">
            <div class="row">
                <div class="col-md-12">
                    <div class="profile-view">
                        <p style="text-align: center;"><b>Your Class Attendance Register</b></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-tabs">
            <ul class="nav nav-tabs nav-tabs-bottom" id="unitTabs">
                {% for unit_data in unit_attendance_data %}
                <li class="nav-item">
                    <a class="nav-link" href="#" data-unit-code="{{ unit_data.unit.code }}">
                        {{ unit_data.unit.code }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="tab-content" id="unitAttendanceContent">
            <!-- Attendance data will be populated here -->
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#unitTabs').on('click', 'a.nav-link', function (e) {
            e.preventDefault();
            var unitCode = $(this).data('unit-code');
            fetchUnitAttendance(unitCode);
        });

        function fetchUnitAttendance(unitCode) {
            $.ajax({
                url: '/fetch_attendance/',
                type: 'GET',
                data: {
                    'unit_code': unitCode
                },
                success: function (data) {
                    $('#unitAttendanceContent').html(data);
                },
                error: function () {
                    alert('Error occurred while fetching attendance data.');
                }
            });
        }
    });
</script>
{% endblock content %}



<script>
    document.getElementById('downloadButton').addEventListener('click', function () {
        var jsPDF = window.jspdf.jsPDF;
        var section = document.querySelector('.page');
        var originalWidth = section.offsetWidth;
        var originalHeight = section.offsetHeight;

        // Set the desired scaling factors for width and height (you can adjust these values)
        var scaleWidth = 1.5;
        var scaleHeight = 2;

        // Set the new width and height to the section
        section.style.width = originalWidth * scaleWidth + 'px';
        section.style.height = originalHeight * scaleHeight + 'px';

        html2canvas(section, { scale: 2 }).then(function (canvas) {
            var imgData = canvas.toDataURL('image/png');
            var pdf = new jsPDF('p', 'mm', 'a4');
            pdf.addImage(imgData, 'PNG', 0, 0, pdf.internal.pageSize.getWidth(), pdf.internal.pageSize.getHeight());
            pdf.save('downloaded_section.pdf');

            // Restore the original width and height
            section.style.width = originalWidth + 'px';
            section.style.height = originalHeight + 'px';
        });
    });
</script>



    <div class="sidebar-overlay" data-reff=""></div>
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.slimscroll.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    {% endblock content %}