{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="page-wrapper">
    <div class="content">
        <div class="card-box profile-header">
            <div class="row">
                <div class="col-md-12">
                    <div class="profile-view">
                        <p style="text-align: center;"><b>You Class Attendance Register</b></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-tabs">
            <ul class="nav nav-tabs nav-tabs-bottom">
                {% for unit_data in unit_attendance_data %}
                <li class="nav-item"><a class="nav-link" href="#about-cont" data-toggle="tab">
                        {{ unit_data.unit.code }}</a>
                </li>
                {% endfor %}
                <!-- <li class="nav-item"><a class="nav-link" href="#bottom-tab2" data-toggle="tab">Enrolled
                        Units</a></li>
                <li class="nav-item"><a class="nav-link" href="#bottom-tab3" data-toggle="tab">Attendance
                        Photo</a></li> -->
            </ul>
            <div class="tab-content">
                <div class="tab-pane show active" id="about-cont">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-box">
                                <h3 class="card-title">Attendance</h3>
                                <div class="experience-box">
                                    <div class="table-responsive">
                                        <table class="table mb-0 new-patient-table">
                                            <thead>
                                                <tr>
                                                    <th>Admission Number</th>
                                                    <th>Name</th>
                                                    <th>Date</th>
                                                    <th>Time</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for unit_data in unit_attendance_data %}
                                                {% for attendance in unit_data.attendance %}
                                                <tr>
                                                    <td>
                                                        {{attendance.student.user}}
                                                    </td>
                                                    <td>{{attendance.student.first_name}}
                                                        {{attendance.student.last_name}}</td>
                                                    <td>{{attendance.date}}</td>
                                                    <td>{{attendance.time}}</td>
                                                    {% if attendance.status == 'Present' %}
                                                    <td><i class="fa fa-check text-success"></i></td>
                                                    {% else %}
                                                    <td><i class="fa fa-close text-danger"></i></td>
                                                    {% endif %}
                                                </tr>
                                                {% endfor %}
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="sidebar-overlay" data-reff=""></div>
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.slimscroll.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
<script>
    $(document).ready(function () {
        $('.unit-link').on('click', function (e) {
            e.preventDefault();
            var unitId = $(this).data('unit-id');

            // Make an AJAX request to fetch attendance data for the selected unit
            $.ajax({
                url: '/get_unit_attendance/',  // Replace with your Django URL for fetching unit attendance
                type: 'GET',
                data: { 'unit_id': unitId },
                success: function (data) {
                    // Update the content of the tab with the fetched attendance data
                    $('#about-cont').html(data);
                },
                error: function (error) {
                    console.log('Error fetching unit attendance:', error);
                }
            });
        });
    });
</script>

{% endblock content %}