{% extends 'main.html' %}
{% load static %}
{% block content %}





<div class="sidebar-overlay" data-reff=""></div>
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'sets/js/jquery.slimscroll.js' %}"></script>
<script src="{% static 'js/Chart.bundle.js' %}"></script>
<script src="{% static 'js/chart.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>

{% endblock content %}