{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="dash-widget">
                    <div class="dash-widget-info text-right">
                        <h3>{{user.username}}</h3>
                        <span class="widget-title1">Admission Number<i class="fa fa-check"
                                aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="dash-widget">
                    <div class="dash-widget-info text-right">
                        <h3>{{user.student.course}}</h3>
                        <span class="widget-title2">Course<i class="fa fa-check" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="dash-widget">
                    <div class="dash-widget-info text-right">
                        <h3>{{user.student.year}}</h3>
                        <span class="widget-title3">Year<i class="fa fa-check" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="dash-widget">
                    <div class="dash-widget-info text-right">
                        <h3>{{user.student.semester}}</h3>
                        <span class="widget-title4">Semester<i class="fa fa-check" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title d-inline-block">My Units</h4>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead class="d-none">
                                    <tr>
                                        <th>Unit code</th>
                                        <th>Unit Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for unit in units_list %}
                                    <tr>
                                        <td>
                                            <h5 class="time-title p-0">{{unit}}</h5>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                <div class="card">
                    <div class="card-body">
                        <div class="chart-title">
                            <h4>Time Table</h4>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-striped custom-table mb-0 datatable">
                                        <thead>
                                            <tr>
                                                <th>Unit</th>
                                                <th>Day</th>
                                                <th>Time From</th>
                                                <th>Time To</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>COM 110</td>
                                                <td>
                                                    <strong>Monday</strong>
                                                </td>
                                                <td>7:00AM</td>
                                                <td>9:00AM</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6 col-lg-12 col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title d-inline-block">Attendance </h4> <a href="{% url 'attendance' %}"
                            class="btn btn-primary float-right">View all</a>
                    </div>
                    <div class="card-block">
                        <div class="table-responsive">
                            <table class="table mb-0 new-patient-table">
                                <thead>
                                    <tr>
                                        <th>Student</th>
                                        <th>Date</th>
                                        <th>Time</th>
                                        {% for unit in units_list %}
                                        <th>{{unit}}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for data in registerAttendance %}
                                    <tr>
                                        <td>
                                            <span class="user-img">
                                                <img class="rounded-circle"
                                                    src="{{user.student.profile.profile_photo.url}}" width="24"
                                                    alt="Admin">
                                                <!-- <span class="status online"></span> -->
                                            </span>
                                        </td>
                                        <td>{{data.date}}</td>
                                        <td>{{data.time}}</td>
                                        {% if data.status ==  %}
                                        <td><i class="fa fa-close text-danger"></i> </td>
                                        <td><i class="fa fa-check text-success"></i> </td>
                                        <!-- <td><i class="fa fa-check text-success"></i> </td>
                                        <td><i class="fa fa-close text-danger"></i> </td>
                                        <td><i class="fa fa-check text-success"></i> </td> -->
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6 col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <div class="chart-title">
                            <h4>Attendance Percentage</h4>
                            <div class="float-right">
                                <ul class="chat-user-total">
                                </ul>
                            </div>
                        </div>
                        <canvas id="bargraph"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<div class="sidebar-overlay" data-reff=""></div>
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'sets/js/jquery.slimscroll.js' %}"></script>
<script src="{% static 'js/Chart.bundle.js' %}"></script>
<script src="{% static 'js/chart.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
{% endblock content %}