{% extends 'main.html' %}
{% load static %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="dash-widget">
                    <div class="dash-widget-info text-right">
                        <h3 style="text-align: center;">{{user.username}}</h3>
                        <span class="widget-title1">Admission Number<i class="fa fa-check"
                                aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="dash-widget">
                    <span class="dash-widget-info text-right">
                        <h3 style="text-align: center;">{{user.student.course}}</h3>
                    </span>
                    <div class="dash-widget-info text-right">
                        <span class="widget-title2">Course<i class="fa fa-check" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="dash-widget">
                    <div class="dash-widget-info text-right">
                        <h3 style="text-align: center;">{{user.student.year}}</h3>
                        <span class="widget-title3">Year<i class="fa fa-check" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="dash-widget">
                    <div class="dash-widget-info text-right">
                        <h3 style="text-align: center;">{{user.student.semester}}</h3>
                        <span class="widget-title4">Semester<i class="fa fa-check" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-12 col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <div class="chart-title">
                            <h4>My Units and Time Table</h4>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-striped custom-table mb-0 datatable">
                                        <thead>
                                            <tr>
                                                <th>Unit Code</th>
                                                <th>Unit Name</th>
                                                <th>Day</th>
                                                <th>Lecture</th>
                                                <th>Room</th>
                                                <th>Start Time</th>
                                                <th>End Time</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for unit in units_list %}
                                            <tr>
                                                <td>{{unit.code}}</td>
                                                <td>{{unit.name}}</td>
                                                <td>
                                                    <strong>{{unit.day}}</strong>
                                                </td>
                                                <td>{{unit.lecturer}}</td>
                                                <td>{{unit.room.name}}</td>
                                                <td>{{unit.startTime}}</td>
                                                <td>{{unit.endTime}}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-6 col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <div class="chart-title">
                            <h4>Attendance Percentage</h4>
                            <div class="float-right">
                                <ul class="chat-user-total">
                                </ul>
                            </div>
                        </div>
                        <canvas id="bargraph"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<script>
    // Function to create a bar chart
    function createBarChart(unitsList, attendanceData) {
        var ctx = document.getElementById('bargraph').getContext('2d');
        console.log(unitsList)
        var myBarChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: unitsList.map(item => item.code),  // Extracting 'code' from each item
                datasets: [{
                    label: 'Percentage Attendance',
                    backgroundColor: 'rgba(0, 158, 251, 0.5)',
                    borderColor: 'rgba(0, 158, 251, 1)',
                    borderWidth: 1,
                    data: unitsList.map(unit => {
                        // Find the corresponding attendance data for this unit
                        var attendance = attendanceData.find(item => item.unitAttendent === unit.code);
                        // If attendance data found, return the attendance percentage, otherwise return 0
                        return attendance ? attendance.attendance_percentage : 0;
                    })
                }]
            },
            options: {
                responsive: true,
                legend: {
                    display: true,
                    position: 'top'
                },
                scales: {
                    y: {
                        beginAtZero: true,
                        max: 100
                    }
                },
                plugins: {
                    tooltip: {
                        callbacks: {
                            label: function (context) {
                                var label = context.dataset.label || '';
                                if (label) {
                                    label += ': ';
                                }
                                label += context.parsed.y + '%';
                                return label;
                            }
                        }
                    }
                }
            }
        });
    }

    // Convert units_list to a JavaScript array
    var unitsList = JSON.parse('{{ units_list_json|escapejs }}');

    // Convert attendance_data to a JavaScript array
    var attendanceData = JSON.parse('{{ attendance_data_json|escapejs }}');

    // Call the function with data from Django template
    createBarChart(unitsList, attendanceData);
</script>


<div class="sidebar-overlay" data-reff=""></div>
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'sets/js/jquery.slimscroll.js' %}"></script>
<script src="{% static 'js/Chart.bundle.js' %}"></script>
<script src="{% static 'js/chart.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>

{% endblock content %}