{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <title>Face attendance</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
    <div class="main-wrapper  account-wrapper">
        <div class="account-page">
            <div class="account-center">
                <div class="account-box">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="page-title">Enroll for Face Attendance</h4>
                                <p><span style="color: red;">NOTE</span>Upload a selfie passport with a yellow
                                    background. <br>
                                    <span style="color: red;">*</span>This image will be used for your face recognition.
                                </p>
                            </div>
                        </div>


                        {% for message in messages %}
                        <div class="container-fluid p-0">
                            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true" class="btn-close">X</span>
                                </button>
                                {{ message }}
                            </div>
                        </div>
                        {% endfor %}

                        <div class="form-group col-md-12">
                            <canvas id="canvas" width="300px" height="200px" style="display: none;"></canvas>
                            <div id="video-container">
                                <video id="video" width="300px" height="200px" autoplay></video>
                                <!-- <button id="capture">Capture Photo</button> -->

                                <button id="captureButton" class="btn btn-primary" style="display: none;">Capture
                                    and Save</button>
                            </div>
                        </div>
                        {{form.student.as_hidden}}
                        <div class="form-group">
                            <label>Profile Photo</label><br>
                            <button id="openCameraButton" class="btn btn-danger account-btn">Open Camera</button><br> OR <br>
                            {{form.profile_photo}}
                        </div>

                        <div class="form-group text-center">
                            <button class="btn btn-primary account-btn" type="submit">Enroll</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
    
            let video = document.getElementById('video');
            let canvas = document.getElementById('canvas');
            let openCameraButton = document.getElementById('openCameraButton');
            let captureButton = document.getElementById('captureButton');
            let stream;
    
            openCameraButton.onclick = function () {
                if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
                    navigator.mediaDevices.getUserMedia({ video: true })
                        .then(function (streamObj) {
                            stream = streamObj;
                            video.srcObject = streamObj;
                            captureButton.style.display = 'block';
                            openCameraButton.style.display = 'none';
    
                            const context = canvas.getContext('2d');
    
                            captureButton.onclick = function () {
                                context.drawImage(video, 0, 0, canvas.width, canvas.height);
    
                                canvas.toBlob(function (blob) {
                                    const formData = new FormData();
                                    formData.append('image', blob, 'image.jpg');
    
                                    fetch('/save_photo/', {
                                        method: 'POST',
                                        body: formData,
                                        headers: {
                                            'X-CSRFToken': '{{ csrf_token }}',
                                        },
                                    })
                                        .then(response => response.json())
                                        .then(data => {
                                            console.log(data);
                                        })
                                        .catch(error => console.error(error));
    
                                    stream.getTracks().forEach(track => track.stop());
                                    video.style.display = 'none';
                                    canvas.style.display = 'none';
                                    openCameraButton.style.display = 'block';
                                }, 'image/jpeg');
                            };
    
                        })
                        .catch(function (error) {
                            console.error('Error accessing the camera:', error);
                        });
                } else {
                    console.error('getUserMedia is not supported in this browser');
                }
            };
        });
    </script>
</body>

</html>